
{{#each articles}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{teaser}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">Read Article</a>
    <btn class="btn btn-success">Add Note</btn>
    <btn class="btn btn-danger save" data-id={{_id}}>Save</btn>
    
  </div>
</div>

{{/each}}




    